ul {
    position: -webkit-sticky;
    /* áp dụng với Safari */
    position: sticky;
    list-style-type: none;
    overflow: hidden;
    /* Khi chiều cao của box không đủ chứa text, thì text bị tràn sẽ được dấu đi. */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff0000;
    color: #ff;
    font-weight: bold;
}

.content {
    margin-left: 10%;
    float: left;
    width: 70%;
    height: auto;
}

.section {
    height: auto;
}

.aside {
    border-color: red;
    float: left;
    width: 15%;
    height: auto;
}

.footer {
    background-color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    float: left;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

#title {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 15px;
}

form {
    background-color: green;
    margin: 100px auto;
    width: 400px;
    height: auto;
    padding: 10px;
    border: 2px solid #ffffff;
}

button submit {
    margin-top: 20px;
    width: 60px;
    height: 40px;
    background: #ffffff;
    color: blue;
}

.button {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}